html, body {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 600px;
}
.center {
        display: block;
        margin: auto;
        
}
.topnav {
        background-color: #333;
        overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
        background-color: #ddd;
        color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
        background-color: #8B0000;
        color: white;
}

.center-div {
/*        display: flex;*/
        align-content: center;
        align-items: center;
        text-align: center;
}